@keyframes fireworksClassicDotPosition{
   from {top: 140px;}
   to {top:0px;}
 }
@keyframes fireworksClassicDotBlur{
   0% {opacity: 1; filter: blur(0px);}
   60% {opacity: 0.8; filter: blur(0px);}
   100% {opacity: 0; filter: blur(10px);}
 }
 @keyframes fireworksClassicDotLength {
   0%{ height: 10px;}
   20%{ height: 40px;}
   100%{ height: 0px;}
 }
 @keyframes fireworksClassicCoreBlow {
   from {width:10px; height:10px; border-radius: 10px; border-width: 5px; opacity: 1; filter: blur(0px); transform: translate(0px,0px);}
   to {width:80px; height:80px; border-radius: 40px; border-width: 25px; opacity: 0; filter: blur(20px); transform: translate(-35px,-35px);}
 }
 @keyframes fireworksClassicHaloBlow {
   from {width:10px; height:10px; border-radius: 10px; border-width: 5px; opacity: 1; filter: blur(5px); transform: translate(0px,0px);}
   to {width:250px; height:250px; border-radius: 250px; border-width: 35px; opacity: 0; filter: blur(30px); transform: translate(-120px,-120px);}
 }
 @keyframes fireworksClassicGravity {
   from {transform: translateY(0px);}
   to {transform: translateY(80px);}
 }
 .fireworksClassicMainFrame{
   position: absolute;
   /*animation: fireworksClassicGravity 1s ease-in 0.2s forwards;*/  /*取消注释可以启用烟花下坠的效果*/
 }
 .fireworksClassicDotFrame{
   width: 40px;
   height: 150px;
   position: absolute;
   top: 10px;
   left: 130px;
   transform-origin: 20px 140px;
 }
 .fireworksClassicDot{
   position: absolute;
   animation: fireworksClassicDotPosition 1.2s ease-out forwards, fireworksClassicDotBlur 1.2s linear forwards, fireworksClassicDotLength 1.2s ease-in-out forwards;
 }
 .fireworksClassicCore{
   position: absolute;
   left:145px;
   top:145px;
   box-sizing: border-box;
   border-style: solid;
   background-color: white;
   animation: fireworksClassicCoreBlow 0.6s ease-out forwards;
 }
 .fireworksClassicHalo{
   position: absolute;
   left:145px;
   top:145px;
   box-sizing: border-box;
   border-style: solid;
   animation: fireworksClassicHaloBlow 1s ease-out forwards;
 }
