@keyframes fireworksClassicGravity {
   from {transform: translateY(0px);}
   to {transform: translateY(80px);}
 }
 .fireworksClassicMainFrame{
   position: absolute;
   /*animation: fireworksClassicGravity 1s ease-in 0.2s forwards;*/  /*取消注释可以启用烟花下坠的效果*/
 }
 .fireworksClassicDot{
   position: absolute;
   top:150px;
   border-bottom-color: rgba(255,255,255,0.8);
   border-bottom-style: solid;
 }
 .fireworksClassicCore{
   position: absolute;
   left:145px;
   top:145px;
   box-sizing: border-box;
   border-style: solid;
   background-color: white;
 }
 .fireworksClassicHalo{
   position: absolute;
   left:145px;
   top:145px;
   box-sizing: border-box;
   border-style: solid;
 }
